@import "/index.css";
@import "/reset.css";

.dialogActive {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialogHeader {
    display: flex;
    justify-content: space-between;

    /* todo - вынести в переменную */
    height: 55px;

    padding: 10px 0;
    margin: 0 20px;

    border-bottom: 1px solid #EAEAEA;
}

.dialogHeaderLeftBlock {
    display: flex;
    align-items: center;
}

.dialogHeaderAvatar {
    width: 34px;
    height: 34px;

    flex-shrink: 0;

    margin-right: 10px;

    border-radius: 50%;
    background: #EFEFEF;
}

.dialogHeaderName {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
}

.dialogHeaderRightBlock {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15px;

    margin-right: 11px;

    cursor: pointer;
}

.dialogMain {
    display: flex;
    flex-direction: column-reverse;

    height: calc(100vh - 110px);

    padding: 30px 20px;

    overflow-y: auto;
}

.dialogFooter {
    display: flex;
    align-items: center;

    /* todo - вынести в переменную */
    height: 55px;

    padding: 10px 0;
    margin: 0 20px;

    border-top: 1px solid #EAEAEA;
}

.dialogAttach {
    margin-right: 10px;
}

.dialogInput {
    width: 100%;
    padding: 10px 20px;

    border-radius: 30px;

    color: #999;
    background: #EFEFEF;
    outline: none;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.dialogEnterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 28px;
    height: 28px;
    border-radius: 50%;

    margin-left: 10px;

    color: #fff;
    background: #3369F3;
}