.button {
    display: block;
    width: 100%;

    text-align: center;

    border-radius: 8px;
    padding: 12px;

    color: #fff;
    background: #3369F3;

    font-size: 13px;
    line-height: 13px;
}

@media (hover: hover) {
    .button:hover {
        background: #698ee9;
    }
}