.root {
    font-family: 'Inter', sans-serif;

    width: 100%;
    height: 100vh;

    display: flex;
}

.chatsBlock {
    width: 310px;
    height: 100vh;
    padding: 21px 10px 10px;

    background: #FBFBFB;

    border-right: 1px solid #EAEAEA;
}

.chatsBlock_header {
    display: flex;
    flex-direction: column;

    padding-bottom: 14px;
    border-bottom: 1px solid #EAEAEA;
}

.settingsLink {
    display: flex;
    justify-content: right;
    align-items: center;

    width: 100%;

    color: #999;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

@media (hover: hover) {
    .settingsLink:hover {
        color: #bfb6b6;
    }
}

.settingsLinkIcon {
    margin-left: 8px;
}

.search {
    width: 100%;
    margin-top: 23px;
    padding: 10px;
    text-align: center;

    border: none;
    border-radius: 5px;

    color: #999;
    outline: none;
    background: #EFEFEF;
}

.chat {
    display: flex;
    height: 70px;
    padding: 12px 0;

    border-bottom: 1px solid #EAEAEA;
}

.chatAvatar {
    width: 47px;
    height: 47px;

    flex-shrink: 0;

    margin-right: 10px;

    border-radius: 50%;
    background: #EFEFEF;
}

.chatTextBlockName {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.chatTextBlockLastMessage {
    color: #999;
    margin-top: 4px;
    margin-right: 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.chatMeta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    width: 25px;
}

.chatMetaTime {
    color: #999;

    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
}

.chatMetaNewMessagesCount {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    color: #fff;
    background: #3369F3;

    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
}