.root {
    font-family: 'Inter', sans-serif;

    width: 100%;
    height: 100vh;

    display: flex;
}

.chatsBlock {
    width: 310px;
    height: 100vh;
    flex-shrink: 0;

    background: #FBFBFB;

    border-right: 1px solid #EAEAEA;
}

.chatsBlockHeader {
    display: flex;
    flex-direction: column;
    /* todo - вынести в переменную */
    height: 106px;

    padding: 21px 10px 14px;
    border-bottom: 1px solid #EAEAEA;
}

.settingsLink {
    display: flex;
    justify-content: right;
    align-items: center;

    width: 100%;

    color: #999;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

@media (hover: hover) {
    .settingsLink:hover {
        color: #bfb6b6;
    }
}

.settingsLinkIcon {
    margin-left: 8px;
}

.search {
    width: 100%;
    margin-top: 23px;
    padding: 10px;
    text-align: center;

    border-radius: 5px;

    color: #999;
    outline: none;
    background: #EFEFEF;
}

.chatsBlockChats {
    height: calc(100vh - 106px);
    overflow-y: auto;
}

.chat {
    display: flex;
    height: 70px;
    padding: 12px 10px;

    border-bottom: 1px solid #EAEAEA;
}

.dialogHeaderAvatar {
    width: 47px;
    height: 47px;

    flex-shrink: 0;

    margin-right: 10px;

    border-radius: 50%;
    background: #EFEFEF;
}

.chatTextBlock {
    flex-grow: 1;
}

.chatTextBlockName {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.chatTextBlockLastMessage {
    color: #999;
    margin-top: 4px;
    margin-right: 20px;

    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.chatTextBlockLastMessagePrefix {
    color: #1E1E1E;
}

.chatMeta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-shrink: 0;
}

.chatMetaTime {
    color: #999;

    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
}

.chatMetaNewMessagesCount {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
    border-radius: 50%;

    color: #fff;
    background: #3369F3;

    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
}

.dialog {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialogUnselected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    color: #999;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.dialogActive {}

.dialogHeader {
    display: flex;
    justify-content: space-between;

    /* todo - вынести в переменную */
    height: 55px;

    padding: 10px 0;
    margin: 0 20px;

    border-bottom: 1px solid #EAEAEA;
}

.dialogHeaderLeftBlock {
    display: flex;
    align-items: center;
}

.dialogHeaderAvatar {
    width: 34px;
    height: 34px;

    flex-shrink: 0;

    margin-right: 10px;

    border-radius: 50%;
    background: #EFEFEF;
}

.dialogHeaderName {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
}

.dialogHeaderRightBlock {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 15px;

    margin-right: 11px;

    cursor: pointer;
}

.dialogMain {
    display: flex;
    flex-direction: column-reverse;

    height: calc(100vh - 110px);

    padding: 30px 20px;

    overflow-y: auto;
}

.messageGroup {
    display: flex;
    flex-direction: column;
}

.messageGroup:not(:last-child) {
    margin-top: 30px;
}

.message {
    display: flex;
    justify-content: flex-end;

    max-width: 40%;

    white-space: pre-line;

    padding: 11px;
}

.message:not(:first-child) {
    margin-top: 10px;
}

.myMessages {
    align-items: flex-end;
}

.myMessages .message {
    background: #E4EDFD;

    border-radius: 12px 12px 0 12px;
}

.companionMessages {
    align-items: flex-start;
}

.companionMessages .message {
    background: #F8F8F8;

    border-radius: 0 12px 12px 12px;
}

.companionMessages .messageMetaIcon {
    display: none;
}

.messageText {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.messageMeta {
    display: flex;
    align-items: flex-end;

    margin-left: 14px;

    color: #3369F3;
}

.myMessages .messageMeta {
    color: #3369F3;
}

.companionMessages .messageMeta {
    color: #999;
}

.messageMetaIcon {
    height: 8px;

    margin-right: 4px;
}

.messageMetaText {
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
}

.dialogFooter {
    display: flex;
    align-items: center;

    /* todo - вынести в переменную */
    height: 55px;

    padding: 10px 0;
    margin: 0 20px;

    border-top: 1px solid #EAEAEA;
}

.dialogAttach {
    margin-right: 10px;
}

.dialogInput {
    width: 100%;
    padding: 10px 20px;

    border-radius: 30px;

    color: #999;
    background: #EFEFEF;
    outline: none;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
}

.dialogEnterButton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 28px;
    height: 28px;
    border-radius: 50%;

    margin-left: 10px;

    color: #fff;
    background: #3369F3;
}

