@import '/index.css';

.goBack {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 64px;

    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    border-right: 1px solid #EAEAEA;

    background: #FBFBFB;
}

.goBackButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;
    border-radius: 50%;

    color: #fff;
    background: #3369F3;
}

.goBackButtonIcon {
    transform: rotate(-180deg);
}