@import '../../src/components/Form/Form.css';

.signUp {
    font-family: 'Inter', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}